html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  overflow: auto;
  line-height: 1;
  background-color: black;
  color: rgb(231, 240, 240);
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.aligns-center {
  align-items: center;
}
.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.text-center {
  text-align: center;
}

.header {
  background-color: azure;
  height: 80px;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: sticky;
  top: 0;

}

.header #marvelLogo {
  width: 130px;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.header .headerLinks {
  margin-right: 1rem;
}

.header #searchBar {
  height: 20px;
  margin: 0 2rem;
}

#comicsLink,
#favoritesLink {
  text-decoration: none;
  background-color: red;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  padding: 1rem;
  margin-left: 2rem;
}

.num-thumb {
  position: absolute;
  background-color: #ff0000;
  color: white;
  border-radius: 2px;
  bottom: 20px;
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.comicsContainer, .charactersContainer {
  justify-content: space-around;
  align-items: space-around;
}

.characterCard,
.comicsCard {
  margin: 0.5rem;
  border-radius: 2%;
  background-color: rgb(45, 207, 4);
  width: 170px;
  padding: 1rem;
  
}

.characterCard > * {
  padding: 0.5rem;
}

.comicsCard > * {
  padding: 0.5rem;
}
.description {
  position: relative;
  display: inline-block;
}

.description .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: blueviolet;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 105%;
  left: -5px;
}

.description:hover  {
  cursor: progress;
}

.description:hover .tooltiptext {
  visibility: visible;
}

.characterCard:hover {
  cursor: pointer;
}

.characterCard p {
  text-align: center;
}

.comicsCard p {
  text-align: center;
}

.comicsCard .title {
  text-align: center;
  font-weight: bold;
  color: blue;
}

.characterCard .title {
  text-align: center;
  font-weight: bold;
  color: blue;
}

.loading {
  text-align: center;
}

#addFavorite:hover{
  cursor: pointer;
}